@import "variables";

.calendar-edit-header {
  color: var(--blue-dark)
}

.calendar-header {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .prev-month-button, .next-month-button {
    margin: 2px;
    cursor: pointer;
  }

  .selected-month {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--blue-normal);
    font-size: 18px;
    font-weight: bold;
  }
}

.calendar-table {
  width: 100%;
  height: 100%;
  background-color: var(--white);
  table-layout: fixed;

  thead {
    border-bottom: solid 4px var(--blue-normal) !important;

    th {
      color: var(--blue-dark);
      text-align: center;
      width: 14%;
    }
  }

  tbody {
    tr {
      height: 16%;
      background-color: transparent !important;

      td {
        text-align: center;
        border: 3px double var(--grey);

        .calendar-day-wrapper {
          height: 100%;
          display: flex;
          flex-direction: column;
          cursor: pointer;

          .calendar-day-header {
            display: flex;
            height: 30px;

            .calendar-day {
              flex: 0 1;
              text-align: left;
              color: var(--blue-dark);
              padding-left: 5px;
              padding-top: 5px;
              font-size: 13px;
              font-weight: 500;
              user-select: none;
            }

            .national-free-day-name {
              color: var(--blue-dark) !important;
              padding-left: 5px;
              padding-top: 5px;
              font-size: 13px;
              font-weight: 500;
              user-select: none;
              text-align: left;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }

          .vacation-day-people {
            flex: 1 0;
            padding-top: 1px;

            .vacation-day-people-list {
              .vacation-day-person {
                border-top: 1px solid var(--blue-normal);
                border-bottom: 1px solid var(--blue-normal);
                text-align: left;
                font-size: 13px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                background-color: var(--light-grey);
              }
            }

            .vacation-day-more-people {
              margin: 0 10%;
              font-weight: 600;
              font-size: 13px;
              text-align: right;
            }
          }

          .edit-action-wrapper > button {
            font-size: 13px !important;
          }
        }
      }

      td.calendar-day-empty {
        background-color: var(--light-grey);
      }

      td.today {
        .calendar-day-circle {
          width: 20px;
          height: 20px;
          line-height: 15px;
          border: solid 2px var(--blue-normal);
          border-radius: 50%;
          text-align: center;
        }
      }

      td.weekend {
        background-color: var(--light-blue);
      }

      td.national-free-day {
        background-color: var(--light-green);
      }
    }
  }
}
